name: testing-out-aws-github-oidc

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  run_job_with_aws:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          role-to-assume: arn:aws:iam::706133530470:role/github-actions-demo-role
          aws-region: ap-southeast-1

      - name: Run AWS CLI
        run: aws sts get-caller-identity
